//----------------------------------------------------------------------------------------------------------------------
// App Theme
//----------------------------------------------------------------------------------------------------------------------

@import "node_modules/bootstrap/scss/bootstrap";
@import "overrides";

//----------------------------------------------------------------------------------------------------------------------

html, body {
	height: 100%;
	overflow: hidden;
}

// Add some sweet, sweet anchor link styling

h1, h2, h3, h4, h5, h6 {
	.tome-anchor-link {
		font-size: 80%;
		color: $text-muted !important;
		opacity: 0;
		transition: opacity .16s linear;
	}

	&:hover .tome-anchor-link {
		text-decoration: none;
		opacity: .85;

		&:hover {
			opacity: 1;
		}
	}
}

// Improved <blockquote> styling

blockquote {
	font-size: 95%;
	padding: 0.375rem 0.75rem;
	border-left: 4px solid $gray-400;
	color: $gray-700;
	margin-left: 1rem;

	p:last-child {
		margin-bottom: 0;
	}

	& blockquote {
		margin-left: 0;
	}
}

//----------------------------------------------------------------------------------------------------------------------

.fts-match {
    background-color: #FCFE79;
}

//----------------------------------------------------------------------------------------------------------------------
